*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/

app/debug/

app/release/

buildSrc/build/libs/

buildSrc/build/kotlin/compileKotlin/

buildSrc/build/kotlin/

buildSrc/build/classes/kotlin/main/

buildSrc/build/tmp/jar/
/Gemfile.lock
/fastlane/report.xml
